<%= form_for :item, url: items_path do |f| %>
  
  <% if @item.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>   
        <% @item.errors.full_messages.each do |msg| %>
          <ul>
            <li><%= msg %></li>
          </ul>
        <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :heading %><br>
    <%= f.text_field :heading,  class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 15 ,  class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.submit  'Save', :class => 'btn btn-primary btn' %>
  </div>
<% end %>