<div class="col-lg-10 col-lg-offset-1">
  <h1>Edit news</h1>
  <div class="form-group"></div>
  <%= form_for :item, url: item_path(@item), method: :patch do |f| %>  
    
    <% if @item.errors.any? %>
      <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
          </button>  
          <% @item.errors.full_messages.each do |msg| %>
            <ul>
              <li><%= msg %></li>
            </ul>
          <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :heading %>
      <%= f.text_field :heading,  class: 'form-control' %>
    </div>
   
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 15 ,  class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image ,  class: 'form-control' %>
    </div>
    <div class="form-group">


    <% if @item.image? %>
      <div class="form-group">
        <%= f.label :remove_image %>
        <%= f.check_box :remove_image %>        
      </div>
      <div class="form-group">
        <%= image_tag @item.image.thumb.url , :class => 'img-thumbnail' %>      
      </div>
    <% end %>   

    <div class="form-group">
      <%= f.submit  'Save', :class => 'btn btn-primary btn' %>
    </div>
   
  <% end %>
</div>

